<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LacBuilder-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LacBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lacqit-Windows-i386-AppKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lacqit-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lacqit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LacqitTest-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LacqitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A2AEA640E0F3FBE00B7D6AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5936B4103F13810015CC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A9BDBFF1138404400854E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA839160E6C734900DFDA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA847310E757B2B00DFDA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA96D9F1176F645006B0751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
